.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.app {
  padding: 10px;
}

.app .jumbotron {
  text-align: center;
}

.app .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px; /* adjust as needed */
  height: 350px; /* adjust as needed */
  margin: 0 auto; /* this centers the card horizontally */
  border: 1px solid black;
  padding: 10px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px; /* adjust as needed */
  height: 350px; /* adjust as needed */
  margin: 0 auto; /* this centers the card horizontally */
  border: 1px solid black;
  padding: 10px;
  
}

.app .card-header {
  color: white;
  font-weight: bold;
}

.app .card-footer { 
  text-align: right;
}

.card-footer { 
  text-align: right;
}

.card .image { 
  align-items: center;
}
/* 
.card .row {
  grid-gap: 16px;
}

.card .img { 
  align-content: center;
  margin: 0 auto;

} */

.card .category { 
  text-align: right;
}

.card .year { 
  align-items: right;
}

.footer .jumbotron { 
  height: 50%;
}

.footer .jumbotron p{ 
  margin-bottom: 0;
}



